header
	position: relative
	top: 0px
	left: 0px
	height: 190px

	#header-bar
		position: absolute
		height: 54px
		width: 100%
		background:
			color: $gray

	#logo
		position: absolute
		top: 0px
		img
			width: 75%