article.post-headline
	position: relative
	max-width: 900px
	min-height: 30px
	padding:
		top: 15px
		bottom: 15px
	border:
		bottom: 1px solid rgba(0,0,0,.1)
	background:
		color: rgba(0,0,0,.02)

	.headline
		position: relative
		float: left
		font:
			size: 18px
		margin:
			left: 20px
			top: 5px
		width: 80%
		box-sizing: border-box

	.poo
		position: relative
		float: left
		height: 30px
		width: 30px
		img
			width: 100%
		margin:
			top: 10px
			left: 10px