html, body
	width: 100%
	height: 100%
	background:
		color: $white
	font:
		family: "Helvetica"
		size: 12px

.content
	position: relative
	margin: auto
	max-width: $xl_desktop
	width: $desktop
	padding:
		bottom: 55px

	h1
		font:
			size: 15px
			weight: bold
		color: $black
		margin:
			bottom: 10px
		padding:
			bottom: 10px
		border:
			bottom: 1px solid $gray

	h2
		font:
			size: 15px
			weight: bold
		color: $white
		padding:
			top: 10px
			bottom: 10px
			left: 10px
		background:
			color: $red

	#headlines
		width: 100%
		max-width: 320px
		float: left

		.category
			margin:
				bottom: 10px
			border: 1px solid $gray

	#top-story
		position: relative
		max-width: 680px
		float: left
		margin:
			left: 20px
		width: 100%

		.top-story-photo
			position: relative
			width: 100%
			padding:
				bottom: 56.25%
			background:
				size: cover
				position: center

		.featured
			margin:
				bottom: 15px

		.top-story-headline
			position: absolute
			width: 100%
			bottom: 0px
			background:
				color: rgba(0,0,0,.5)
			font:
				size: 18px
				weight: bold
			color: $white
			padding:
				top: 10px
				bottom: 10px
				left: 10px
				right: 10px
			box-sizing: border-box
			a
				color: $white
				text:
					decoration: none

		#wut
			margin:
				top: 25px
			color: rgba(0,0,0,.7)
			line-height: 16px

a
	color: $red

#others
	margin:
		top: 55px

	h2
		a
			color: $black
			text:
				decoration: none

#facebook-button,
#twitter-button
	position: relative
	display: inline-block

#twitter-button
	margin:
		left: 10px
	top: 3px

#article-meta
	padding: 50px
	background: rgba(0,0,0,.02)
	h1
		font:
			size: 32px

#about
	margin:
		top: 10px
	padding: 50px
	color: rgba(0,0,0,.5)
	background:
		color: rgba(0,0,0,.01)
	line-height: 16px
.cat
	margin:
		top: 25px
	h1
		margin:
			top: 25px
		background:
			color: $gray
		padding:
			top: 10px
			bottom: 10px
			left: 10px
			right: 10px
	h2
		font:
			weight: bold
			size: 15px
		background:
			color: $white
		color: $black
		padding:
			left: 0px
			right: 0px
		border:
			bottom: 1px solid $gray


// Layout
.clearfix
	position: relative
	clear: both

